.box
{
	display: block;
	width: 100%;
}
.box > div
{
	margin-left: 40px;
}
.text
{
	font-family: "微软雅黑";
}
.text_title
{
	display: inline-block;
	text-align: center;
	font-size: 30px;
}
.color_green
{
	color: #5eb95e;
}
.box_color_white
{
	background-color: #ffffff;
}
.box_color_grey
{
	background-color: #494949;
}
body
{
	margin: 0;
	padding: 0;
}
