.box
{
	display: inline-block;
	width: 100%;
}
.box>div
{
	margin-left: 40px;
}
.label
{
	border-left-style: solid;
	border-left-width: 15px;
	margin-left: 0!important;
}
.link_label
{
	border-left-color: #0e90d2!important;
	border-left-style: groove;
	border-left-width: 15px;
	margin-left: 0!important;
}
.text,.text_title,.text_subtitle,.text_center,.text_left
{
	font-family: "微软雅黑";
}
.text,.text_title,.text_subtitle,.text_center,.text_left>p,a
{
	display: inline-block;
	margin-left: 20px;
	width: 95%;
}
.text_title
{
	font-size: 33px;
}
.text_subtitle
{
	font-size: 25px;
}
.text_normal
{
	font-size: 17px;
}
.text_center
{
	text-align: center;
}
.text_left
{
	text-align: left;
}
.color_green
{
	color: #5eb95e;
}
.color_grey
{
	color: #494949;
}
.sub_color_green
{
	border-color: #5eb95e;
}
.sub_color_silver
{
	border-color: #ebeaea;
}
.sub_color_purple
{
	border-color: #b033d5;
}
.box_color_grey
{
	background-color: #494949;
}
.box_color_silver
{
	background-color: #ebeaea;
}
.box_color_white
{
	background-color: #ffffff;
}
body
{
	margin: 0;
	padding: 0;
}
a
{
	text-decoration: none;
}
a:link
{
	color: #0e90d2;
}
a:hover
{
	color: #0e90d2;
}
a:active
{
	color: #0e90d2;
}
a:visited
{
	color: #0e90d2;
}
